<h1 *ngIf="!isChange" mat-dialog-title>Create Tasks</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit Tasks</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
      <mat-label>Responsible</mat-label>
      <mat-select [(ngModel)]="data.responsible">
        <mat-option value="Eu">Eu</mat-option>
        <mat-option value="Esposa">Esposa</mat-option>
        <mat-option value="Filho">Filho</mat-option>
        <mat-option value="Outros">Outros</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Finish</mat-label>
      <mat-select  [(ngModel)]="data.finished">
        <mat-option value=false>In Progress</mat-option>
        <mat-option value=true>Finish</mat-option>
      </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button *ngIf="!isChange"  [mat-dialog-close]="data" cdkFocusInitial>Create</button>
  <button mat-button *ngIf="isChange"  [mat-dialog-close]="data" cdkFocusInitial>Edit</button>
</div>
